
}
.jumbtron {
  margin: 100px;

  
}


.container{
  margin:auto;
  padding:150px;
     background-color: #7689A9

    


}
.location{
  font-size: 48px;
  padding:15px;
}
.temperature{
  font-size: 48px;
  padding:15px;
}

.body{
  background-color: #7689A9  
}
.appTitle{
  margin:auto;
}
/* <iframe src="https://giphy.com/embed/id5eoFlVLnEHu" width="480" height="261" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/fall-winter-window-id5eoFlVLnEHu">via GIPHY</a></p>*/